@import url("https://fonts.cdnfonts.com/css/sf-ui-display");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mea+Culpa&display=swap");
@import "tailwindcss";

@font-face {
  font-family: "Humane";
  src: url("/fonts/Humane/Humane-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Bebas-Bold";
  src: url("/fonts/BebasNeue-Bold.otf");
}

.font-humane-bold {
  font-family: "Humane";
}

.custom-orange-bg {
  background: #fa2624;
}
.custom-orange-color {
  color: #fa2624;
}
.sf-font {
  font-family: "SF UI Display";
}

.font-bebas-neue {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bebas-bold {
  font-family: "Bebas-Bold";
}

.mea-culpa-regular {
  font-family: "Mea Culpa", cursive;
  font-weight: 400;
  font-style: normal;
}

.orange-btn-animation {
  background: #fa2624;
  border: #fa2624 solid 2px;
  transition: all 150ms ease-in-out;
}
.orange-btn-animation:hover {
  color: #fa2624;
  border: #fa2624 solid 2px;
  background-color: white;
}

*::selection {
  background-color: #fa2624;
  color: white;
}

.special-select::selection {
  background-color: white;
  color: #fa2624;
}
